@import "tailwindcss";

:root {
  --background: #ffffff;
  /* Light background */
  --foreground: #171717;
  /* Dark text color */
  /* --primary: #1565C0; */
  --primary: #011640;
  /* Primary color */
  --secondary: #FFF7F1;
  /* Warm secondary accent */
  --accent: #848484;
  /* Gray for accents */
  --muted: #f5f5f5;
  /* Light gray for backgrounds */
  --soft: #FFD6D6;
  /* Soft color */
  --border: #dddddd;
  /* Soft border color */
  --heading: #0d0d0d;
  /* Darker heading color */
  --shadow: rgba(0, 0, 0, 0.1);
  /* Shadow color */

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
    --border: #bfbfbf;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }

  .border-primary {
    border-color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-accent {
    color: var(--accent);
  }

  .bg-soft {
    background-color: var(--soft);
  }

  .text-soft {
    color: var(--soft);
  }

  .bg-muted {
    background-color: var(--muted);
  }

  .border-default {
    border-color: var(--border);
  }

  .text-heading {
    color: var(--heading);
  }

  .shadow-default {
    box-shadow: 0 4px 6px var(--shadow);
  }
}